<div class="container my-5">
    @if (viewModel$ | async; as vm) {

    <!-- Loading -->
    @if (vm.isLoading) {
    <div class="text-center py-5">
        <span class="spinner-border"></span>
    </div>
    }

    <!-- Error -->
    @if (vm.error) {
    <div class="alert alert-danger">
        {{ vm.error }}
    </div>
    }

    <!-- Account info-->
    @if (vm.account) {
    <section class="mb-4">
        <h1 class="mb-1">{{ vm.account.name }}</h1>
        <p class="text-muted">
            {{ vm.account.slug }}
        </p>

        @if (vm.account.description) {
        <p class="mt-3">
            {{ vm.account.description }}
        </p>
        }
    </section>
    }
    }
</div>