/* You can add global styles to this file, and also import other style files */
@use "bootstrap" as *;
@use "./variables" as vars;

.root-container {}

// Body takes full height and has a light gray background
body {
    background-color: vars.$main-bg;
    margin: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

// Optional: main content spacing
main {
    padding: 2rem;
}