<div class="tag-node">
  <div class="tag-header" (click)="toggle()">
    <div class="tag-main">

      <div class="tag-name">
        <span class="accordion-arrow">
          {{ expanded ? '▼' : '▶' }}
        </span>
        {{ tag.name }}
      </div>
      @if (tag.description) {
      <div class="description">{{ tag.description }}</div>
      }
    </div>
    <div class="tag-actions">
      <button class="btn btn-sm btn-outline-primary" (click)="onAddChild(); $event.stopPropagation()"
        title="Add child tag">
        + Child
      </button>
      <button class="btn btn-sm btn-outline-secondary" (click)="$event.stopPropagation()" title="Edit">
        Edit
      </button>
      @if(!tag.children || tag.children.length == 0){
      <button class="btn btn-sm btn-outline-danger" (click)="$event.stopPropagation()" title="Delete">
        Delete
      </button>
      }
    </div>
  </div>

  @if (expanded && tag.children && tag.children.length > 0) {
  <div class="tag-children">
    @for (child of tag.children; track child.id) {
    <app-event-tag-list-node [tag]="child" (addChild)="onAddChild($event)" />
    }
  </div>
  }
</div>